[buildout]
develop = .
parts = test
extensions = mr.developer
auto-checkout = grokker
sources-dir = checkouts


[sources]
grokker = git https://github.com/Cromlech/grokker.git


[test]
recipe = zc.recipe.egg
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
    sys.argv.append('--doctest-modules')
eggs =
    crom [test]
    pytest
    pytest-cov
